<script src="{{ $.Site.BaseURL }}/js/TweenMax.min.js"></script>
<script src="{{ $.Site.BaseURL }}/js/ScrollToPlugin.min.js"></script>

{{ range .Site.Params.custom_js }}
<script src="{{ $.Site.BaseURL }}/js/{{ . }}"></script>
{{ end }}

<!-- LaTeX math rendering -->
<script>
        MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$','$$'], ['\\[', '\\]']],
            processEscapes: true,
            processEnvironments: true
          },
          options: {
            skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
          }
        };
</script>

<script id="MathJax-script" async src="{{ $.Site.BaseURL }}/js/tex-mml-chtml.js"></script>

</body>
</html>
